<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <ul>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Books</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <ul>
            <li><a>Features</a></li>
            <li><a>Events</a></li>
            <li><a>Contact & Hours</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <ul>
            <li><a>Help & FAQs</a></li>
            <li><a>Work with us</a></li>
            <li><a>Careers</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social">
          <p class="copyright">Little Free Library © 2024</p>
        </div>
      </div>
    </div>
  </footer>
</div>
