<div class="container">
  <div class="library">
    <div class="libraryDetails">
      <h2 class="timingHeading">Timing for the library are:</h2>
      <ul class="timings">
        <li class="day">Monday: <span class="timing">8:00 A.M to 9:00 P.M</span></li>
        <li class="day">Tuesday: <span class="timing">8:00 A.M to 9:00 P.M</span></li>
        <li class="day">Wednesday: <span class="timing">8:00 A.M to 9:00 P.M</span></li>
        <li class="day">Thursday: <span class="timing">8:00 A.M to 9:00 P.M</span></li>
        <li class="day">Friday: <span class="timing">8:00 A.M to 9:00 P.M</span></li>
        <li class="day">Saturday: <span class="timing">6:00 A.M to 11:00 P.M</span></li>
        <li class="day">Sunday: <span class="timing">Closed for Maintenance Work</span></li>
      </ul>
    </div>
    <div class="info">
      <h2>Procedure to borrow book from library:</h2>
      <div class="procedure">
        <ol class="process">
          <li class="rule">Books will be issued for 15 days only.</li>
          <li class="rule">Library Card is mandatory to get the book issued.</li>
          <li class="rule">Condition of book should be up to the mark or fine will be taken.</li>
          <li class="rule">Contact the librarian to get the book issued.</li>
          <li class="rule">Books will only be issued if they are available in stockl</li>
          <li class="rule">Late fees of Rs. 15 per day will be charged.</li>
        </ol>
      </div>
    </div>
  </div>
</div>