/* to set width of the card */
.card {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* to set font and other properties of form-label */
.form-label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5e5e5e;
}

/* to set font properties of form-control */
.form-control{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5e5e5e;
  border: 0.09% solid black;
}

/* Add book button styling */
.button{
  text-align: center;
  margin-bottom: 10px;
}
.btn{
  background-color: #0d3563;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
























.container {
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .container > * {
    flex: 1 1 50%;
  }
}

@media (min-width: 992px) {
  .container > * {
    flex: 1 1 33.3333%;
  }
}
